/*
CSS RULES
Syntax ;
selector {
	property:  value;
}

*/

/*
UNIVERSAL SELECTOR
 change the font of every element in HTML using "*"
*/

*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*
TYPE SELECTOR
*/
body{
	background-color: skyblue;
}

/* The background-color property changes the bg color of the element */

/*
ATTRIBUTE SELECTOR
 attribute selector only works based on the exact atttribute syntax provided in the HTML tag.
 it's also case sensitive.
*/
input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
	border-radius: 10px;

}


/*
 4. CLASS SELECTOR
	The class attribute is used to target elements with similar styling.
*/
.offering-item{
	text-transform: uppercase;
}

/*
 ID SELECTOR
*/
/*#zuitt-motto{
	letter-spacing: -1px;
}*/

/*
	CSS SELECTOR COMBINATOR
	adjacent sibling selector
	SYNTAX :
	sibling_element + target element{
		property: value;
	}
*/

h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}


/*
	GENERAL SIBLING SELECTOR
	SYNTAX :
	sibling_element ~ target_element{
		property: value;
	}

*/
h2 ~ a, a{
	text-decoration: none;
}


/*
	CHILD SELECTOR
	SYNTAX :
	selector1 > selector2 {
	style: properties;
	}
*/
body > section > form > label{
	color: rgb(0, 0, 128);
}

/*
	DESCENDANT SELECTOR
	SYNTAX: 
	selector1 selector{
	style: properties;
	}
*/
#bootcamp-learning-list{
	color: #075966;
}

/*
	WHOLE HTML
*/
html{
	scroll-behavior: smooth;
}

/*
	Navigation Bar
*/
nav{
	background-color: white;
}

/*
	SELECTOR : Hover Pseudo Class*/
.nav-link:hover{
	background-color: #b4d6de;
}

/*
	DIV for the Nav BAr
*/
div{
	display: inline-block;
	float: right;
}

/*
	Landing section & for selection
*/
section{
	height: 100vh;
	text-align: center;
}
h2{
	font-size: 1.5rem;
}

/*
	Remove numbers from list
*/
ol{
	list-style-type: none;
}

/*

*/

form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}