#yellow{
	color: yellow;
}

*{
	font-family: Verdana, sans-serif;
}
h1{
	font-size: 20px;
}
#ab{
	text-transform: uppercase;
}
ol[target="_blank"]{
	border: 2px;
	background-color: green;
}
[title~=flower]{
	border: 2px;
	border-style: solid;
	border-color: navy;
}

#jscc{
	border-radius: 500px;
	width: 100px;
	height: 100px;
}
section > ul > li {
	letter-spacing: 10px;
}
#bot{
	text-align: center;
}